/* Color Theme Swatches in Hex */
$Poseidon-1-hex: #012030;
$Poseidon-2-hex: #13678A;
$Poseidon-3-hex: #45C4B0;
$Poseidon-4-hex: #9AEBA3;
$Poseidon-5-hex: #DAFDBA;

@keyframes float-in-left {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes float-in-right {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.chat-bubble-container-left{
    
    text-align: justify;
    display: flex;
    transform: translateX(0px);
    transition: 1s;
    span{
        padding: 10px 20px;
        background-color: white;
        color: black;
        margin: 5px 15px;
        width: fit-content;
        border-radius: 20px 20px 20px 0px;
        border-left: 5px solid red;
    }
    // animation: float-in-left .5s ease-in-out 0 1;
    animation-name: float-in-right;
    animation-duration: .5s;
}
.chat-bubble-container-right{
    
    text-align: justify;
    display: flex;
    justify-content: end;
    transition: 1s;
    span{
        padding: 10px 20px;
        background-color: white;
        color: black;
        margin: 5px 15px;
        width: fit-content;
        border-radius: 20px 20px 0px 20px;
        border-right: 5px solid hotpink;
    }
    // animation: float-in-right 1s ease-in-out 0 1 normal forwards;
    animation-name: float-in-left;
    animation-duration: .5s;
}